<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="//cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">HTTP请求日志</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Link
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">欢迎登陆</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li id="clickOut">
                                <a href="#">登出</a>
                            </li>
                            <li>
                                <a href="#">Another action</a>
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="">
  <table class="table ">
      <thead>
        <tr>
          <th>#</th>
            <% for (let item in log[0]) { %>
                <th><%= item %></th>
            <% } %>
                <th> 功 能 </th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i<log.length; i++) { %>
            <% if(!log[i].delete){ %>
            <tr class="success">
                <th scope="row"><%= i %></th>
                <td><%= log[i].creadTime %></td>
                <td><%= log[i].header %></td>
                <td><%= log[i].method %></td>
                <td><%= log[i].url %></td>
                <td><%= log[i].originalUrl %></td>
                <td><%= log[i].origin %></td>
                <td><%= log[i].href %></td>
                <td><%= log[i].path %></td>
                <td><%= log[i].querystring %></td>
                <td><%= log[i].host %></td>
                <td><%= log[i].hostname %></td>
                <td><%= log[i].fresh %></td>
                <td><%= log[i].stale %></td>
                <td><%= log[i].protocol %></td>
                <td><%= log[i].secure %></td>
                <td><%= log[i].ip %></td>
                <td><%= log[i].ips %></td>
                <td><%= log[i].status %></td>
                <td><%= log[i].delete %></td>
                <td class="itemTd"><button type="button" id="clickDelete" class="btn btn-danger" data-index="<%= i%>">删除日志</button></td>
            </tr>
             <% } %>
        <% } %>
      </tbody>
    </table>
    </div>

</body>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script>
    console.log('执行')
    axios.defaults.headers.common['Authorization'] = 'Bearer ' + $.cookie('token')

    $('#clickOut').on('click', () => {
        console.log('退出')
        axios.post('/logout', {
                token:$.cookie('token')
         }   
        ).then((res)=>{
            console.log(res)
            if(res.ok){
                alert('退出成功')
            }
        })
    })

    $('.success .itemTd #clickDelete').each(function(index,item){
        $(item).on('click',function(){
            let index = $(this).attr('data-index')
            axios.post('/deleteLog', {
                token:$.cookie('token'),
                index:index
            }).then((res)=>{
                console.log(res)
                if(res.ok){
                    alert('退出成功')
                }
            })
        })

    })
    // $('body #clickDelete').on('click',()=>{
    //     console.log('序列')
    //     let that = this
    //     console.log($(that).attr('data-index'))
    //      axios.post('/deleteLog', {
    //         token:$.cookie('token')
    //      }   
    //     ).then((res)=>{
    //         console.log(res)
    //         if(res.ok){
    //             alert('退出成功')
    //         }
    //     })
    // })
</script>

</html>