<%- include header %>
 
    <div class="container">
       <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
        <div class="row">
            <div class="col-md-4">
                <p>名字 : <%= data.nickName %> </p>
                <p>年龄 : <%= data.age %> </p>
                <p>称谓 : <%= data.title %> </p>
            </div>
            <div class="col-md-8">
                <img src="<%= data.portrait %>"  class="img-thumbnail">
            </div>
        </div>

        <div class="row">
            <form action="/userName" method="post" >
                <div class="form-group">
                    <label for="exampleInputEmail1">修改名字</label>
                    <input type="text" name="nickName" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <input type="submit" class="btn btn-default" value="submie"/>
            </form>
        </div>
    </div>
    <script>
    fetch('https://api.awesomes.cn/repo/top100')
    .then(function(response) {
    return response.json()
    })
    .then(function(data) {
    console.log(data)
    })
    </script>
</body>
</html>
